@using NewsWebSite.Models;
@model ArticleForView
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}


<article class="news-view">
    <div class="news-img">
        <img src="@Url.Content("~/Content/UserImages/"+ Model.Id + "/" + Model.Image)" alt="SRC">
        <span class="upload-date">

            @if (Model.UpdateDate != null)
            {
                @Model.UpdateDate
            }
            else
            {
                @Model.CreateDate
            }

        </span>
        <a class="edit" href="@Url.Action("EditArticle", new { Id = Model.Id })">РЕДАКТИРОВАТЬ</a>
        <div class="hide"></div>
    </div>
    <header><h3>@Model.Title</h3></header>
    <p class="news-description">
        @Model.FullDescription
    </p>
</article>