@using NewsWebSite.Models.ViewModel
@model EditArticleModel
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<div class="news-create">
    <header><h3>РЕДАКТИРОВАНИЕ НОВОСТИ</h3></header>
    @using (Html.BeginForm("EditArticle", "News", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "accept.disabled=true; return true;" }))
    {
        @Html.EditorFor(model => model.Id)
        @Html.LabelFor(model => model.Title, new { @class = "label-text" })
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)


        @Html.LabelFor(model => model.FullDescription, new { @class = "label-text" })
        @Html.EditorFor(model => model.FullDescription)
        <script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
        <script type="text/javascript">
            bkLib.onDomLoaded(function () {
                new nicEditor({
                    buttonList: ['fontSize', 'bold', 'italic', 'underline', 'strikeThrough', 'fontSize', 'fontFamily', 'fontFormat', 'xhtml', 'image']
                }).panelInstance('FullDescription');
            });
        </script>
        @Html.ValidationMessageFor(model => model.FullDescription)

        @Html.LabelFor(model => model.Image, new { @class = "label-text" })
        <img src="@Url.Content("~/Content/UserImages/"+ Model.Id + "/" + Model.ImagePath)" alt="SRC">
        @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/jpeg,image/png,.jpg,.png" })
        @Html.ValidationMessageFor(model => model.Image)

        @Html.LabelFor(model => model.ArticleTags, new { @class = "label-text" })
        @TagListHelper.SelectedTagsList(Model.ArticleTags, Model.AllTags)

        <input type="submit" value="СОХРАНИТЬ" name="accept">
        <a href="@Url.Action("Article", new { Id = Model.Id })">ОТМЕНИТЬ</a>
    }
</div>
@section scripts {
    <script>
        $('select').select2({
            tags: true
        });
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
@*@Html.ValidationSummary()*@
@*  <form method="post" enctype="multipart/form-data">
        <div><img src="~/Content/UserImages/@Model.Id/@Model.Image" class="EditImg" alt="IMG"></div>
        <table>
            <input type="hidden" name="Id" value="@Model.Id"  />
            <tr><td><label for="Title">Заголовок:</label></td><td><input type="text" value="@Model.Title" name="Title" id="Title"></td>
            @Html.ValidationMessage("Title")
            </tr>
            <tr><td colspan="2"><label for="FD" class="label_left">Главный текст новости:<br><textarea name="FullDescription" id="FD" >@Model.FullDescription</textarea></label></td>
            @Html.ValidationMessage("FullDescription")
            </tr>
            <tr>
                <td><label for="IMG">Загрузить изображение:</label></td>
                <td><input type="file" name="loadfile" id="IMG" value="@Model.Image" accept="jpg,png,gif"></td>
                @Html.ValidationMessage("ImageUpload")
            </tr>
            <tr><td></td><td><input type="submit" value="Обновить"></td></tr>
        </table>
    </form>
*@
