@using NewsWebSite.Models
@using NewsWebSite.Models.Repository
@model PagedList<DemoArticle>
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<div id="news_panel">
    @foreach (var a in Model)
    {
        <div class="news-item" id="@a.Id">
            <div class="news-img"><img src="@Url.Content("~/Content/UserImages/")@a.Id/@a.Image" alt="IMG"></div>
            <p class="upload-time">@a.LastUpdateDate.ToString("yyyy-MM-dd H:mm:ss")</p>
            <h3><a id="Title-@a.Id" href="@Url.Action("Article", new { Id = a.Id })" >@a.Title</a></h3>
            <p>@a.ShortDescription</p>
            <a id="More-@a.Id" href="@Url.Action("Article", new { Id = a.Id })" >ПОДРОБНЕЕ</a>
        </div>
    }
</div>

@section scripts {
    <script type="text/javascript">
        var LastId = @(Model.Count > 0 ? Model[Model.Count - 1].Id : 0);
        var inProgress = false;
        var startFrom = 1;


        function RequestArticles() {
            $.ajax({
                url: '/News/GetArticles',
  //              timeout: 3000,
                method: 'POST',
                dataType: 'Json',
                async: true,
                data: { "Page": startFrom, "lastId": LastId },
                beforeSend: function() {
                    inProgress = true;
                }
            }).done(function(data) {
                var firstid = 0;
                if (data.length > 0)
                {
                    firstid = data[0].Id;
                    $.each(data, function(index, data) {
                        var templ = ($("#template").html().split("[Id]").join(data.Id));
                        templ = templ.split("[Image]").join(data.Image);
                        templ = templ.split("[Title]").join(data.Title);
                        templ = templ.replace('[ShortDescription]', data.ShortDescription);
                        templ = templ.split("[Date]").join(data.CreateDate.replace("T", " "));
                        $('#news_panel').append(templ);
                    });
                    LastId = data[data.length - 1].Id;
                }
                startFrom++;
                inProgress = false;
            });
        }
      
        $(document).ready(function ()
        {
            $(window).scroll(function()
            {
               // if (loadingComplete)
                    if (startFrom < @Model.PageCount && !inProgress && $(window).scrollTop() >= $(document).height() - $(window).height() - 250)
                    {
                        RequestArticles();
                    }
            });
        });
      
    </script>

    <script type="text/template" id="template">
        <div class="news-item">
            <div class="news-img"><img src="@Url.Content("~/Content/UserImages")/[Id]/[Image]" class="images" alt="IMG"></div>
            <p class="upload-time">[Date]</p>
            <h3><a id="Title-[Id]" href="@Url.Action("Article")/[Id]">[Title]</a></h3>
            <p>[ShortDescription]</p>
            <a id="More-[Id]" href="@Url.Action("Article")/[Id]">ПОДРОБНЕЕ</a>
        </div>
    </script>
}
