<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/Styles.css")
    @Styles.Render("//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=EB+Garamond")
    @Styles.Render("https://fonts.googleapis.com/css?family=El+Messiri|Rubik+One")
    @Styles.Render("https://fonts.googleapis.com/css?family=Scada")
    <title>News Portal</title>
</head>
<body>
    <div class="main-page">
        <header>
            <div id="main" class="logo">
                <h1><span class="news">НОВОСТНОЙ</span><span class="portal">ПОРТАЛ</span></h1>
            </div>
            <nav class="main-menu">
                <ul>
                    <li><a href="@Url.Action("Index", "News")">главная</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="@Url.Action("CreateArticle", "News")">создать новость</a></li>
                        <li><a href="@Url.Action("InterestingNews", "News")">интерестные новости</a></li>
                        <li><a href="@Url.Action("Index", "Account")">профиль</a></li>
                        <li><a href="@Url.Action("LogOff", "Account")">выйти (@User.Identity.Name.Split('@')[0])</a></li>
                    }
                    else
                    {
                        <li><a id="loged-button" href="@Url.Action("LogIn" , "Account")">войти</a></li>
                    }
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="left block">
                
            </div>
            <div class="right block">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/Scripts/jquery-3.1.1.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")

    <script>
        $("#search-submit").click(ShowSearh);
        function ShowSearh() {
            if (!$("[type=search]").hasClass("hiddenUp")) {
                $("[type=search]").addClass("hiddenUp");
                $("nav").removeClass("hidden");
            }
            else {
                $("[type=search]").removeClass("hiddenUp");
                $("nav").addClass("hidden");
            }
        }
    </script>
    <!-- Прилипание сайдбара-->
    <script>
        $(window).on("scroll", function () {
            if ($(window).scrollTop() > 275) { $('.left').addClass('fixed'); $('.right').addClass('right-content'); $('#to-up').removeClass('hiddenUp'); }
            else { $('.left').removeClass('fixed'); $('.right').removeClass('right-content'); $('#to-up').addClass('hiddenUp'); }
        });
    </script>
    @Scripts.Render("//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>