@using NewsWebSite.Models.ViewModel
@model CreateArticleModel
@{
    //Layout = "~/Views/Shared/Lay.cshtml";
    Layout = null;
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@using (Html.BeginForm("CreateArticle", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  
     <div>
        @Html.LabelFor(model => Model.Title, new { @class = "DIMAS" })
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <br />
    <div>
        @Html.LabelFor(model => Model.FullDescription)
        @Html.EditorFor(model => model.FullDescription)
        @Html.ValidationMessageFor(model => model.FullDescription)
    </div>
    <br />
    <div>
        @Html.LabelFor(model => Model.Image)
        @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/jpeg,image/png,.jpg,.png"})
        @Html.ValidationMessageFor(model => model.Image)
    </div>
    <input type="submit" name="sub" value="sub">
}


