@using NewsWebSite.Models.ViewModel
@model ListItemPageModel
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}

<div id="news_panel" class="news_panel">
    @foreach (var a in Model.ArticleList)
    {
        <div class="news_item">
            <h3>
                <a id="@a.Id" href="@Url.Action("Article", new {Id = a.Id})" onclick="Redirect(@a.Id);">
                    @a.Title.Substring(0, (a.Title.Length <= 15 ? a.Title.Length : 15))
                    @*временно, чтобы не ломался сайт при длинных заголовках*@
                </a>
                
            </h3>
            <span class="time">@a.CreateDate</span>
            <div><img alt="IMG" class="images" src="~/Content/UserImages/@a.Id/@a.Image"></div>
        </div>
    }
</div>

<script type="text/javascript">
    // var temp = $('#template').html();

    var loadingComplete = false;
    //var bool = false;
    var inProgress = false;
    var startFrom = 1;
    var lastid = 0;

    function RequestArticles(runAtStart) {

        $.ajax({
            url: '/Home/GetArticles',
            timeout: 3000,
            method: 'POST',
            dataType: 'Json',
            async: true,
            data: { "Page": startFrom },
            beforeSend: function () {
                inProgress = true;
            }
        }).done(function (data) {
            //  console.log(data);
            //console.log(data);
            // data = jQuery.parseJSON(data);
            if (data.length > 0) {
                lastid =data[0].Id;
                //console.log(data);
                // location.hash
                $.each(data, function (index, data) {
                    $("#news_panel").append("<div class=\"news_item\"><h3><a id =\"" + data.Id +"\" href=\"Home/Article?id=" + data.Id+ "\" onclick=\"Redirect(" + data.Id +");\">" + data.Title + "</a></h3><span class=\"time\">" + data.CreateDate +"</span> <div><img alt=\"IMG\" class=\"images\" src=\"~/Content/UserImages/"+data.Id+"/" + data.Image +"\"/></div>");
                    //var temp = $('#template').text;
                });

            }
            startFrom ++;
            location.hash=startFrom-1+':'+lastid;
            inProgress = false;
        });
    }
    function GetNPagesOfArticles(page)
    {
        $.ajax({
            url: '/Home/GetArticles',
            timeout: 3000,
            method: 'POST',
            dataType: 'Json',
            async: true,
            data: { "n": page  },
            beforeSend: function () {
                inProgress = true;
            }
        }).done(function (data) {
            //alert("loaded!"+startFrom);
            //data = jQuery.parseJSON(data);
            if (data.length > 0)
            {
                // console.log(data);

                $.each(data, function (index, data) {

                    $("#news_panel").append("<div class=\"news_item\"><h3><a id =\"" + data.Id +"\" href=\"Home/Article?id=" + data.Id+ "\" onclick=\"Redirect(" + data.Id +");\">" + data.Title + "</a></h3><span class=\"time\">" + data.CreateDate +"</span> <div><img alt=\"IMG\" class=\"images\" src=\"~/Content/UserImages/"+data.Id+"/" + data.Image +"\"/></div>");
                });


            }

            startFrom = page + 1;
            inProgress = false;
            loadingComplete = true;

            setTimeout(function () { ScrollTo('#btn-' + id); }, 5000);
            //ScrollTo('#btn-' + id);
        });

    }


    $(document).ready(function ()
    {
        //body.append(temp);
        $(window).scroll(function()
        {
            // if(!bool)
            //alert("scroll");
            if(loadingComplete)
                if (startFrom < @Model.ArticleList.PageCount && !inProgress && $(window).scrollTop() >= $(document).height() - $(window).height() - 250)
                {
                    //   alert("request articles!");
                    RequestArticles(false);
                }
        });
        var id = 0;
        var page = 0;
        if (location.hash.length > 0)
        {
            var string = location.hash.replace('#','');
            var arr = string.split(':');
            page = arr[0];
            id = arr[1];

        }
        // alert("id: " + id +" page: " + page);
        if(id > 1 && page > 1)
        {
            GetNPagesOfArticles(page - 1);




        }
        else loadingComplete = true;
        // alert("startfrom: "+ startFrom + "inprogress: " + inProgress);
        if(startFrom < @Model.ArticleList.LinesCount && !inProgress && $(window).height() >= $(document).height())
        {
            //alert("requst!");
            RequestArticles(true);
        }
    });
    function ScrollTo(id)
    {
        var destination = $(id).offset().top;

        $('body').animate({ scrollTop: destination }, 500);
        $('html').animate({ scrollTop: destination }, 500);
    }
    function Redirect(id)
    {
        var b = document.getElementById('btn-'+id);
        location.hash = startFrom + ':' +id;
    }
</script>
<script type="text/template" id="template">
    <div class="news_item">
        <h3><a id="[Id]" href="Home/Article?Id=[Id]" onclick="Redirect([Id]);">[Title]</a></h3>
        <span class="time">[Date]</span>
        <div><img alt="IMG" class="images" src="~/Content/UserImages/[Id]/[Image]"></div>
    </div>
</script>
