@using NewsWebSite.Models.ViewModel
@model CreateArticleModel
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}

<div class="row white z-depth-1" style="margin:10px 0;padding:20px;">
    @using (Html.BeginForm("CreateArticle", "News", FormMethod.Post, new { @class = "col s12 l12 m12", enctype = "multipart/form-data" }))
    {
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => Model.Title)
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => Model.ShortDescription)
                @Html.EditorFor(model => model.ShortDescription)
                @Html.ValidationMessageFor(model => model.ShortDescription)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(model => Model.FullDescription)
                @Html.EditorFor(model => model.FullDescription, new { @class = "materialize-textarea", id="files"})
                @Html.ValidationMessageFor(model => model.FullDescription)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <img src="" style="max-height:200px;" id="img-preview"/>
                <p>Изображение</p>
                @Html.TextBoxFor(model => model.Image, new { type = "file", accept = "image/jpeg,image/png,.jpg,.png", id="files" })
                @Html.ValidationMessageFor(model => model.Image)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <p>Тэги</p>
                @TagListHelper.TagsList(Model.AllTags)
                @Html.ValidationMessage("tags")
            </div>
        </div>
        <input type="submit" class="waves-effect waves-light btn" value="ОПУБЛИКОВАТЬ" name="accept" required>
        <a href="@Url.Action("Index")" class="waves-effect waves-light btn">ОТМЕНИТЬ</a>
    }
</div>

@section scripts {
@Scripts.Render("~/ckeditor/ckeditor.js")
<script>
    CKEDITOR.replace('FullDescription');
</script>
<script type="text/javascript">
    function showFile(e) {
        var files = e.target.files;
        for (var i = 0, f; f = files[i]; i++) {
            if (!f.type.match('image/*')) continue;
            var fr = new FileReader();
            fr.onload = (function (theFile) {
                return function (e) {
                    document.getElementById('img-preview').src=e.target.result;
                };
            })(f);

            fr.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', showFile, false);

</script>
                <script>
                    $('select').select2({
                        tags: true
                    });
                </script>
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")

            }
            @*
                1.data
                2. bl
                3,. ui
            *@
