@using NewsWebSite.Models
@using NewsWebSite.Models.Repository
@model PagedList<DemoArticle>
@{
    Layout = "~/Views/Shared/Lay.cshtml";
}
<div class="row" id="news_panel">
    <div id="grid">
    @foreach (var a in Model)
    {
    <div class="col l6 m6 s12 grid-item">
    <div class="card hoverable" style="padding:5px;">
     @if (a.Image != "Empty")
     {
     <div class="card-image waves-effect waves-block waves-light">
        <a id="Title-@a" href="@Url.Action("Article", new { Url = a.Url, Id = a.Id })">
               <img class="activator" src="@Url.Content("~/Content/ArticlImages/")@a.Id/@a.Image" style="max-height:250px; min-height:250px; object-fit:cover; object-position:center">
        </a>
        </div>
     }
        <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 truncate">@a.Title<i class="material-icons right">more_vert</i></span>
        <p><a href="@Url.Action("Article", new { Url = a.Url, Id = a.Id })" id="More-@a.Id">Подробнее</a></p>
        </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4 truncate">@a.Title<i class="material-icons right">close</i></span>
        <p>@a.ShortDescription</p>
        <div class="divider"></div>
        <p title="@a.CreateDate">@a.LastUpdateDate.ToString("yyyy-MM-dd H:mm:ss")</p>
      </div>
   </div>
</div>
    }
        </div>
    </div>


@section scripts {
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function(){
      CallAdaptive();
  });

  function CallAdaptive(){
      $('#grid').masonry({
          itemSelector: '.grid-item',
          singleMode: false,
          isResizable: true,
          isAnimated: true,
          animationOptions: {
              queue: false,
              duration: 500
          }
      });
  }
</script>
    <script type="text/javascript">
        var LastId = @(Model.Count > 0 ? Model[Model.Count - 1].Id : 0);
        var inProgress = false;
        var startFrom = 1;
        var userId = 0;
        var onlyInterestingNews = false;


        function RequestArticles() {
            $.ajax({
                url: '/News/GetArticles',
  //              timeout: 3000,
                method: 'POST',
                dataType: 'Json',
                async: true,
                data: { "page": startFrom, "lastId": LastId },
                beforeSend: function() {
                    inProgress = true;
                }
            }).done(function(data) {
                var firstid = 0;
                if (data.length > 0)
                {
                    firstid = data[0].Id;
                    $.each(data, function(index, data) {
                        var templ = ($("#template").html().split("[Id]").join(data.Id));
                        templ = templ.split("[Image]").join(data.Image);
                        templ = templ.split("[Title]").join(data.Title);
                        templ = templ.replace('[ShortDescription]', data.ShortDescription);
                        templ = templ.split("[Date]").join(data.CreateDate.replace("T", " "));
                        var $temp = $( templ );
                        $('#grid').append($temp).masonry('appended', $temp);
                    });
                }
                startFrom++;
                inProgress = false;
            });
        }
      
        $(document).ready(function ()
        {
            $(window).scroll(function()
            {
                if (startFrom < @Model.PageCount && !inProgress && $(window).scrollTop() >= $(document).height() - $(window).height() - 250)
                {
                    RequestArticles();
                    //CallAdaptive();  
                }
            });
        });

    </script>

    <script type="text/template" id="template">
        <div class="col l6  m6  s12 grid-item">
            <div class="card hoverable" style="padding:5px;">
                <div class="card-image waves-effect waves-block waves-light">
                    <a id="Url-[Id]" href="@Url.Action("Article")/[Url]-[Id]">
                        <img class="activator" src="@Url.Content("~/Content/ArticlImages")/[Id]/[Image]" style="max-height:250px;min-height:250px; object-fit:cover; object-position:center">
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4 truncate">[Title]<i class="material-icons right">more_vert</i></span>
                    <p><a href="@Url.Action("Article")/[Url]-[Id]" id="More-[Url]-[Id]">Подробнее</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4 truncate">[Title]<i class="material-icons right">close</i></span>
                    <p>[ShortDescription]</p>
                    <div class="divider"></div>
                    <p>[Date]</p>
                </div>
            </div>
        </div>
    </script>
}
