@model NewsWebSite.Models.ViewModel.EditPasswordModel

@{
    Layout = "~/Views/Shared/Lay.cshtml";
    ViewBag.Title = "EditPassword";
}

<div class="row " style="margin:10px 0;padding:20px;">
    @using (Html.BeginForm("EditPassword", "Account", FormMethod.Post, new { @class = "col l6 m10 s12 white z-depth-1 offset-l3 offset-m1", role = "form", style = "padding:30px;" }))
    {
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.OldPassword)
                @Html.EditorFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.NewPassword)
                @Html.EditorFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.EditorFor(m => m.ConfirmNewPassword)
                @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "red-text" })
        <div class="row">
            <div class="input-field col s12">
                <input type="submit" class="waves-effect waves-light btn" value="Сохранить" style="margin-bottom:15px;" /><br />
                <a href="@Url.Action("Index", "Account")">Отмена</a><br />
            </div>
        </div>
    }
</div>

