
@model NewsWebSite.Models.ViewModel.RegisterViewModel

@{
    Layout = "~/Views/Shared/Lay.cshtml";
    ViewBag.Title = "Register";
}
<div class="news-create">
    <header><h3>ОКНО РЕГИСТРАЦИИ</h3></header>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        //@Html.LabelFor(m => m.UserName, new { @class = "label-text" })
        //@Html.TextBoxFor(m => m.UserName)
        @Html.LabelFor(m => m.Email, new { @class = "label-text" })
        @Html.TextBoxFor(m => m.Email)
        @Html.LabelFor(m => m.Password, new { @class = "label-text" })
        @Html.PasswordFor(m => m.Password)
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "label-text" })
        @Html.PasswordFor(m => m.ConfirmPassword)
        <input type="submit" value="Зарегистрироваться" />
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
}
